<nav class="bg-[#283846] bg-opacity-20">
  <ul>
    <li
      class="italic text-3xl font-bold px-4 cursor-pointer"
      onclick="window.location.replace('/')"
    >
      <i
        class="fas fa-code bg-gradient-to-r from-blue-500 to-blue-500 bg-clip-text text-transparent"
      ></i>
      Shareyourcode
    </li>
  </ul>
  <ul class="px-10" id="list">
    <li class="hidden md:block"><a href="/explore/">Explore snippets</a></li>
    <li class="hidden md:block">
      <a href="/api/"> API </a>
    </li>
    <li class="hidden md:block">
      <a
        href="https://github.com/lassejlv/codeshare-app"
        target="_blank"
        role="button"
      >
        <i class="fab fa-github"></i>
        Github
      </a>
    </li>

    <li class="block md:hidden cursor-pointer" id="bars">
      <i
        onclick="document.getElementById('list').classList.toggle('isOpen')"
        class="fas fa-bars"
      ></i>
    </li>
  </ul>
</nav>
