<nav class="bg-[#283846] bg-opacity-20">
  <ul>
    <li
      class="italic text-3xl font-bold px-4 cursor-pointer"
      onclick="window.location.replace('/')"
    >
      <i
        class="fas fa-code bg-gradient-to-r from-indigo-500 to-blue-500 bg-clip-text text-transparent"
      ></i>
      Codeshare
    </li>
  </ul>
  <ul class="px-10 hidden md:block">
    <li><a href="/explore/">Explore snippets</a></li>
    <li>
      <a href="/api.html"> API </a>
    </li>
    <li>
      <a
        href="https://github.com/lassejlv/codeshare-app"
        target="_blank"
        role="button"
      >
        <i class="fab fa-github"></i>
        Github
      </a>
    </li>
  </ul>

  <div
    class="!absolute !right-0 !flex !justify-center !items-center text-white cursor-pointer !px-4 md:!hidden"
  >
    <i class="fas fa-bars"></i>
  </div>
</nav>
